/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #eaeded;
}

/* NAVBAR */
.navbar {
  background: #131921;
  color: white;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navbar h2 {
  font-size: 22px;
}

.navbar input {
  flex: 1;
  max-width: 500px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.nav-links a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* BUTTON */
button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #ffd814;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #f7ca00;
}
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  opacity: 0.9;
  z-index: 1000;
}
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .product-view {
    flex-direction: column;
    align-items: center;
  }

  .product-view img {
    width: 100%;
  }

  .checkout-box {
    margin: 20px;
  }

}